@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans',sans-serif;
  background-color: #e6e7ee; 
  overflow-x: hidden;
}
nav {
  width: 100%;
  display: flex;
  padding-top: 0.5rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding-top: 0.4rem;
  margin: 0 !important;
}

.nav-link {
  display: inline;
  padding: 0.45rem 1.2rem;
  text-decoration: none;
  font-weight: 300;
  margin-left:2rem !important;
  cursor: pointer;

  border-radius: 0.55rem;
  color: rgb(92, 91, 91);
  font-weight: 500;
  border: 0.0625rem solid transparent;
  box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #ffffff;
  border: 0.0625rem solid #D1D9E6;
}
.nav-link:hover, .nav-link:focus {
  text-decoration: none;
  box-shadow: inset 2px 2px 5px #b8b9be,
              inset -3px -3px 7px #ffffff;
  transition: all 0.2s ease;
  border: 0.0625rem solid #D1D9E6;
}
.social-icons ul {
  display: flex ;
}
.social-icons a {
  border-radius: 2rem;
  color: #31344b;
  background-color: #e6e7ee;
  position: relative;
  margin: 0 1rem 1rem 0;
  font-size: 1.5rem;
  border: 0.0625rem solid #D1D9E6;
  box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #ffffff;
  width: 3.575rem;
  padding: 0.5rem;
  letter-spacing: 0.025em;
  height: 3.575rem;
}
.social-icons a:hover,
.social-icons a:focus {
  box-shadow:inset 3px 3px 6px #b8b9be,inset -3px -3px 6px #ffffff;
}
.fab,
.fas  {
  text-align: center;
  margin-left: 2px;
}
.logo {
  position: relative;
  top: 5%;
  left: 4%;
  z-index: 99;
}
/* .logo span {
  display: inline-block;
  align-items: center;
  font-family: 'Indie Flower', cursive;
  font-weight: 5900;
  border-radius: 50%;
  background-color: linear-gradient(45deg,#cf0,#6ff);
  outline: none;
  border: none;
  color: black;
  padding: 10px 15px;

} */
.wrapper {
  max-width: 1200px;
  color: rgb(92, 91, 91);
  font-weight: 500;
  margin: 0 auto;
  height: 100vh;
  margin-top: 0.8rem;
  background-clip: padding-box;
  border: 0.0625rem solid #e2e6ee;
  border-radius: 0.55rem;
  box-shadow: 2px 2px 5px #b8b9be,  -3px -3px 7px #ffffff
}
.main {
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #ffffff;
  margin: 0.5rem;
  border: 0.0625rem solid #D1D9E6;
  padding: 0.7rem;
  border-radius: 0.55rem;
}
.inside-wrapper {
  box-shadow:  2px 2px 5px #b8b9be,  -3px -3px 7px #ffffff;
  padding: 0.5rem;
 
  border-radius: 0.55rem;
}
.grid {
  display: grid;
  column-gap: 0.8rem;
  margin-left: 0.2rem;
  grid-template-columns: repeat(2,1fr);
  text-align: center;

}
.grid img {
  width: 180px;
  height: 150px;
}
.grid img:hover {
  transform: scale(1.2);
  transition: 300ms ease-in-out;
}
/* .grid2 {
  display: grid;
  border-radius: 0.55rem;
  column-gap: 0.8rem;
  margin-left: 0.2rem;
  grid-template-columns: repeat(1,1fr);
  text-align: center;
}
.grid2-1 {
  color: red !important;
} */
h3 {
  font-size: 0.875rem;
  padding: 1rem 1.5rem;
  border-radius: 0.55rem;
  border: 0.0625rem solid #D1D9E6;
  border-radius: 0.55rem;
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #ffffff !important;

}
.alanBtn-root  {
 position: absolute;
 top: 40%;
}
.wrapper1 {
  max-height: 130vh;
  height: 125vh;
}
.home {
  display: flex;
  flex-direction: column;
  text-align: center;
  word-break: break-all;
  padding: 1rem;
  border-radius: 0.5rem;
  color: #f8f8ff;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23908a99' fill-opacity='0.5' fill-rule='evenodd'/%3E%3C/svg%3E");
  opacity: 0.9;
  width: 100%;
  height: 80%;
}
.home p {
  font-size: 36px;
  margin-top: 0.5rem!important;
  font-weight: bold;
  margin: 0;
}
.home h2 {
  overflow: hidden;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  font-family: 'Popins', serif;
  background-color: black;
  margin-top: -4.5rem!important;
}
.home h1 {
  font-size: 86px;
  font-family: 'Playfair Display', serif;
  margin-top: -0.2rem!important;
  padding: 15px 20px;

}
.home .typed {
  color:#f5ec43;
}
.about {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  display: grid;
  margin: auto 0;
  padding: 25px;
  place-items: center;
  margin-top: 20px;
  /* text-shadow:  5px 9px 5px #b8b9be,  -1px -1px 7px #ffffff !important;
  font-weight: 700; */
}
.about h1 {
  z-index: 99;
  color:#e2e6ee ;
}
.about h4 {
  text-align: left;
  line-height: 1.2;
  margin-left: 90px;
}
.about .skills {
  min-height: 20vh;
  display: grid;
  width: 50%;
  margin-top: 10px;
  place-items: center;
}
.about .frameworks {
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #ffffff !important;
  display: grid;
  height: 23.5vh;
  width: 70%;
  grid-template-rows: repeat(3,1fr);
  text-align: center;
  margin-bottom: 20px;
}
.about .tools {
  display: grid;
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #ffffff !important;
  grid-template-columns: repeat(1,1fr);
  text-align: center;
  width: 70%;
}
.Waterdrop {
  position: relative;
  height: 150px;
  width: 150px;
  margin: auto;
  margin-top: -10px;
  border-radius: 51% 49% 48% 52% / 62% 44% 56% 38%;
  opacity: 0.75;
  z-index: 1;
}
.Waterdrop::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: #318CFE;
  border-radius: 51% 49% 48% 52% / 62% 44% 56% 38%;
  box-shadow: 2px 1px 12px #1b6cfb, -10px 10px 12px #1b6cfb, inset -6px 6px 10px #1b6cfb, inset 2px 6px 10px #1a74e5, inset 10px -10px 12px white, 0px 10px 0px #a8ceff;
}
.Waterdrop::after {
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;
  background: #E6FDFB;
  border-radius: 44% 56% 46% 54% / 36% 50% 50% 64%;
  left: 100px;
  top: 40px;
  box-shadow: 16px 40px 0 -10px white;
  opacity: 0.8;
}
.home .img {
  width:120px;
  position: absolute;
  left: 50%;
  margin-top: 5px;
  border-radius: 103px 96px 8px 84px;
  transform: translate(-50%) rotate(61deg);
  filter:hue-rotate(141deg) invert(99%);
  z-index:1;
  border: 1px solid rgb(0, 153, 255);
  box-shadow: 4px 2px 5px #b8b9be, -2px 9px 1px blue,
   -2px 2px 2px #b8b9be, -1px 20px 1px #7ec7ff,
    -2px 2px 2px #b8b9be, -3px -3px 9px white,
    -2px 2px 2px #1d3bd4, -1px 20px 1px #ddff7e;
  /* border-radius: 51% 49% 48% 52% / 62% 44% 56% 38%; */
  /* border-radius: 40% 50% 46% 44% / 36% 50% 38% 64%; */
  position:absolute;
  left:55%;
  top:20%;
  object-fit: fill;
}
.contact-form {
  width: 100%;
  display: grid;
  place-items: center;
  padding: 3rem;
}
.contact-form div {
  margin-top: 2rem;
  max-width:40%;
  box-shadow:  2px 2px 5px #b8b9be,  -3px -3px 7px #ffffff !important;
}
.contact-form div input, textarea, button {
  background-color: #252525;
  color: #D1D9E6;
}
.contact-form div input[type=text],
.contact-form div input[type=email],
.contact-form div button,
textarea {
  padding: 0.4rem 1.5rem;
  border-radius: 5px;
  color: rgb(255, 251, 251);
  outline: none;
  border: none;
  font-family: sans-serif;
  margin-top: 0.5rem;
  vertical-align: middle;
}
textarea {
  width: 204.5px;
  padding-top: 15px;
}
.contact-form div button:hover {
 background-color: #1b6cfb; 
 color: #E6FDFB;
}
.contact-form div button {
  margin-top: 1.5rem;
  padding: 0.6rem 2rem;
  color: gray;
  border: 1px solid gray;
}
@media (max-width:600px) {
  .contact-form {
    padding: 1rem;
  } 
  .contact-form div {
    max-width: 80%;
  }
  .contact-form div button {
    margin-top: 1.5rem;
    padding: 0.45rem 2rem;

  }
  .logo {
    position: absolute;
    left: 86.9%;
    top: -1.5%;
    transform: rotate(45deg);
  }
  /*
  .cloud {
    position: absolute;
    left: 3%;
    z-index: 0;
    filter: drop-shadow(1px 1px 3px black);
    margin-top:-40px;

  } */
  /* .logo span {
    padding: 6px 10px;
    font-size: 18px;
  } */
  .wrapper {
    max-height: 130vh;
  }
  .wrapp-div {
    margin-top: 150px !important;
    background-color: transparent;
  }
  .home p {
    font-size: 27px;
  
  }
  .home h1 {
    font-size: 50px;
  }
  .home h2 {
    margin-top: 0.5rem !important;
    font-size: 20px;
    background: linear-gradient(#000000,#4542);
    border-radius: 10px;
  }
  .home h6 {
    font-size: 14px !important;
    position: absolute;
    top: 87%;
    left: 25%;
    text-align: center;
    font-weight: 700;
  }
  .home .img {
    position: absolute !important;
    left: 53% !important;
    top: 24.5% !important;
   }
   .Waterdrop {
    margin: 50px;
  }
  .about {
    font-size: 15px;
    display: grid;
    margin: auto 0;
    transform: translate(-50px);
    place-items: center;
  }
  .about .skills {
    margin-left: 0;
  }
  .about .frameworks {
    padding: 0 10px 0 10px;
    width: 70vw;
    height: 26vh;
    margin-bottom: 20px;
  }
  .about .tools {
    min-width: 70vw;
    height: 22vh;
  }
  .tools-design {
    text-align: center;
    padding: 0;
  }
  .about i {
    margin-right: 5px;
    color: darkred !important;
  }
  
  .nav {
    height: 120px;
  }
  a.nav-link {
    padding: 0.35rem 0.5rem;
    margin-left:0.5rem !important;
  }
  #link1 {
    padding: 0.35rem 0.5rem;
    margin-left:1.4rem !important;
  }
  .social-icons a {
    margin: 0 0.5rem 0.5rem 0;
    font-size: 1rem;
  }
  .grid {
    grid-template-columns: repeat(2,1fr);
  }
  .grid img {
    width: 90px;
    height: 90px;
  }
  .grid img:hover {
    transform: scale(1.2);
    transition: 300ms ease-in-out;
  }
  .grid2 {
    grid-template-columns: repeat(2,1fr);
  }
  .grid2 img {
    width: 90px;
    height: 90px;
  }
  .grid2 img:hover {
    transform: scale(1.2);
    transition: 300ms ease-in-out;
  }
  
  .home .img {
    position: absolute;
    left: 50%;
  }
}
@media only screen and (min-width:601px) and (max-width:999px) {
  .wrapp-div {
    margin-top: 126px;
  }
  .home .img {
    position: absolute;
    left: 40%;
    top: 20%;
  }
  .home h1 {
    font-size: 70px;
  }
  .home h2 {
    font-size: 35px;
  }
  .home h2 span {
    font-size: 35px;
  }
  .typed {
    font-size: 50px;
  }
}
@media (max-width:1000px) {
  .home .img {
    position: absolute;
    left: 50%;
    top: 19%;
  }
  .wrapp-div {
    margin-top: 126px;
  }
}
@media (max-width:1200px) {
  .home .img {
    position: absolute;
    left: 50%;
    top: 23%;
  }
  .home {
    margin-top: 20px;
  }
  .wrapp-div {
    margin-top: 130px;
  }
}
@media (max-width:1700px) {
  .cloud {
    position: absolute;
    left: 12%;
    z-index: 0;
    filter: drop-shadow(1px 1px 3px black);
    margin-top:-50px;

  }
  .wrapp-div {
    margin-top: 156px;
  }
  .home {
    margin-top: 20px;
  }
  .home .img {
    position: absolute;
    left: 50%;
  }
  .home h6 {
    font-size: 20px;
  }
}
/* Bubbles */

.bubbles{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.bubble{
  position: absolute;
  bottom: 0;
  background: radial-gradient( #fff,#666666);
  border-radius: 50%;
  opacity: 0.8;
  animation: flying 10s infinite ease-in;
}
.bubble:nth-child(1){
  width: 40px;
  height: 40px;
  left: 10%;
  animation-duration: 8s;
  animation-delay: 2s;
}

.bubble:nth-child(2){
  width: 20px;
  height: 20px;
  left: 20%;
  animation-duration: 5s;
  animation-delay: 1s;
}
.bubble:nth-child(3){
  width: 50px;
  height: 50px;
  left: 35%;
  animation-duration: 5s;
  animation-delay: 1s;
}
.bubble:nth-child(4){
  width: 70px;
  height: 70px;
  left: 50%;
  animation-duration: 10s;
  animation-delay: 0s;
}
.bubble:nth-child(5){
  width: 35px;
  height: 35px;
  left: 55%;
  animation-duration: 6s;
  animation-delay: 0s;
}
.bubble:nth-child(6){
  width: 45px;
  height: 45px;
  left: 40%;
  animation-duration: 8s;
  animation-delay: 1s;
}
.bubble:nth-child(7){
  width: 25px;
  height: 25px;
  left: 75%;
  animation-duration: 7s;
  animation-delay: 0s;
}
.bubble:nth-child(8){
  width: 60px;
  height: 60px;
  left: 80%;
  animation-duration: 6s;
  animation-delay: 1s;
}
.bubble:nth-child(9){
  width: 15px;
  height: 15px;
  left: 70%;
  animation-duration: 9s;
  animation-delay: 2s;
}
.bubble:nth-child(10){
  width: 40px;
  height: 40px;
  left: 25%;
  animation-duration: 7s;
  animation-delay: 1s;
}
.bubble:nth-child(11){
  width: 15px;
  height: 15px;
  left: 70%;
  animation-duration: 9s;
  animation-delay: 0s;
}
.bubble:nth-child(12){
  width: 40px;
  height: 40px;
  left: 25%;
  animation-duration: 8s;
  animation-delay: 0s;
}
@keyframes flying{
  0%{
    bottom: 0px;
    transform: translateX(-20px);
  }
  
  100%{
    bottom: 100%;
    transform: translateY(-600px);
  }
}
